* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.myContainer {
  max-width: 1140px;
  margin: 0 auto;
  font-size: 0;
}

.deviceBox {
  width: calc(100% / 2);
  height: 285px;
  background: #f3f5f5;
  font-size: 0;
  display: inline-block;
  position: relative;
}
.deviceBoxBig {
  height: 570px;
  background: transparent;
}

.devicePhotoBox {
  width: 50%;
  height: 100%;
  background-color: #f3f5f5;
  display: inline-block;
  background-size: cover;
  background-position: center;
  float: left;
  position: relative;
  background-size: 100%;
  transition: 1s;
  background-repeat: no-repeat;
}

.deviceBox:hover > .devicePhotoBox {
  background-size: 120%;
}

.titleBarLvl2Category {
  width: 100%;
  height: 20%;
  background-color: rgba(52, 93, 201, 0.8);
  color: white;
  position: absolute;
  bottom: 0;
  transition: 1s;
  padding: 0 1rem 0 1rem;
}

.categoryLvl2deviceBox {
  width: 25%;
  background-color: #345dc9;
  background-size: 100%;
  transition: 1s;
}

.productLvl3titleBox {
  width: 50%;
  background-color: #345dc9;
  background-size: 100%;
  transition: 1s;
  float: right;
  color: white;
  font-size: 2rem;
  height: 100%;
  text-align: center;
}

.productLvl4titleBox {
  height: 100%;
  width: 100%;
  /* background-color: #345dc9; */
  background-color: rgba(52, 93, 201, 1);
  float: right;
  position: relative;
  top: 0;
  text-align: center;
  padding: 0 3rem 0 3rem;
}

.contentBox {
  font-size: 1rem;
  margin: 2rem 0 2rem 0;
}
.contentBox p {
  margin: 2rem 0 2rem 0;
}

.productLvl3titleBox h1,
.productLvl4titleBox h1 {
  font-size: 2rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 2rem;
}

@media only screen and (min-width: 1026px) {
  .categoryLvl2deviceBox:hover > .devicePhotoBoxLvl2Category {
    background-size: 115%;
  }
}

.categoryLvl2deviceBox:hover > .titleBarLvl2Category {
  background-color: rgba(52, 93, 201, 1);
}

.titleBarLvl2Category p {
  font-size: 1rem;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.titleCategoryLvl2Box {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.devicePhotoBoxLvl2Category {
  width: 100%;
  height: 100%;
  background-color: white;
  display: inline-block;
  background-size: cover;
  background-position: center;
  position: relative;
  background-size: 100%;
  transition: 1s;
  background-repeat: no-repeat;
}
.devicePhotoBoxLvl3Category {
  background-color: #f3f5f5;
}

.deviceContentBox {
  width: 50%;
  height: 100%;
  background-color: #4175fc;
  display: inline-block;
  font-size: 1rem;
  float: left;
  position: relative;
  color: white;
  transition: 1s;
}

.deviceBox:hover > .deviceContentBox {
  background-color: #345dc9;
  transition: 1s;
}

.deviceContentBox .content {
  padding: 2rem;
}

.deviceContentBox :not(:first-child) {
  margin-top: 1rem;
}

.deviceContentBox h3 {
  font-size: 1.1rem;
  color: white;
}

.deviceContentBox p {
  font-size: 0.8rem;
}

@media only screen and (max-width: 1025px) {
  .myContainer {
    margin: 2rem;
  }

  .deviceBox {
    width: 100%;
    /* height: auto; */
    margin-top: 2rem;
  }

  .devicePhotoBoxLvl2Category {
    background-size: contain;
  }

  .devicePhotoBox {
    width: 100%;
    height: 468px;
    background-position: top;
    float: none;
  }
  .deviceContentBox {
    width: 100%;
    float: none;
  }

  .deviceBox:hover > .devicePhotoBox {
    background-size: 100%;
  }
}

.detailsButton {
  background: #4175fc;
  color: white;
  padding: 1rem;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1rem;
}

.buttonContainer {
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 8rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #4175fc;
}

.carousel {
  position: absolute !important;
  margin-top: 2rem;
}

.carousel-indicators li {
  background-color: #4175fc;
}
/* Category LVL2 Template */

/* PRODUCT TEMPLATE */
