* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.myContainer {
  max-width: 1140px;
  margin: 0 auto;

  font-size: 0;
}

.deviceBox {
  width: calc(100% / 2);
  height: 285px;
  background: #f3f5f5;
  font-size: 0;
  display: inline-block;
  position: relative;
}

.devicePhotoBox {
  width: 50%;
  height: 100%;
  background-color: #f3f5f5;
  display: inline-block;
  background-size: cover;
  background-position: center;
  float: left;
  position: relative;
  background-size: 100%;
  transition: 1s;
  background-repeat: no-repeat;
}

.deviceBox:hover > .devicePhotoBox {
  background-size: 120%;
}

.deviceContentBox {
  width: 50%;
  height: 100%;
  background-color: #4175fc;
  display: inline-block;
  font-size: 1rem;
  float: left;
  position: relative;
  color: white;
  transition: 1s;
}

.deviceBox:hover > .deviceContentBox {
  background-color: #345dc9;
  transition: 1s;
}

.deviceContentBox .content {
  padding: 2rem;
}

.deviceContentBox :not(:first-child) {
  margin-top: 1rem;
}

.deviceContentBox h3 {
  font-size: 1.1rem;
  color: white;
}

.deviceContentBox p {
  font-size: 0.8rem;
}

@media only screen and (max-width: 1025px) {
  .myContainer {
    margin: 2rem;
  }

  .deviceBox {
    width: 100%;
    height: auto;
    margin-top: 2rem;
  }

  .devicePhotoBox {
    width: 100%;
    height: 468px;
    background-position: top;
    float: none;
  }
  .deviceContentBox {
    width: 100%;
    float: none;
  }

  .deviceBox:hover > .devicePhotoBox {
    background-size: 100%;
  }
}
